<header class='navbar navbar-default navbar-fixed-top'>
<div class='container'>
  <div class='navbar-header'>
    {{#link-to 'index' class='navbar-brand'}}
      <span class='logo'>
        &#9997;
      </span>
      Agenda UI
    {{/link-to}}
  </div>

  <ul class='nav navbar-nav navbar-right'>
    <li {{bind-attr class='isFutureFilter:active'}}>
      <a {{action 'setFilter' 'future'}}>
        Future
        <span class='badge'>{{meta.future}}</span>
      </a>
    </li>
    <li {{bind-attr class='isCompleteFilter:active'}}>
      <a {{action 'setFilter' 'completed'}}>
        Completed
        <span class='badge'>{{meta.completed}}</span>
      </a>
    </li>
    <li {{bind-attr class='isFailedFilter:active'}}>
      <a {{action 'setFilter' 'failed'}}>
        Failed
        <span class='badge'>{{meta.failed}}</span>
      </a>
    </li>
  </ul>
</div>
</header>
