  <div class="panel-heading">
    <h3 class="panel-title">
      {{name}}
      <small>
      {{#if repeatInterval}}
        <span class='meta-item'>
          &#10561; Repeats: {{repeatInterval}}
        </span>

        &middot;
      {{/if}}

      <span class='meta-item'>
        <span {{bind-attr class=':priority priorityHuman'}}>&#9187;</span> Priority: {{priorityHuman}}
      </span>
      </small>
    </h3>

      {{#if nextRunAtFromNow}}
      <small class='next-run-counter'>
        {{nextRunAtFromNow}}
      </small>
      {{/if}}
  </div>
    {{#if failedAt}}
      <div class='fail-message bg-warning'>
        <span class='fail-icon'>&#9888;</span> {{failReason}} at {{time-tag failedAt}}
      </div>
    {{/if}}
  <div class="panel-body">
    <div class='meta'>

    </div>

<div class='times'>
{{time-tag lastRunAt prefix='Last:'}}
{{time-tag nextRunAt prefix='Next:'}}
{{time-tag lastFinishedAt prefix='Finished:'}}
{{time-tag lockedAt prefix='Locked:'}}
</div>

  </div>

  </div>
  <div {{action 'toggleDataExpand'}} {{bind-attr class=':job-data-preview :panel-footer dataExpanded:is-expanded'}}>{{highlight-object data null 2}}</div>





