<div class='job-card-container'>
  <div class='job-card-content'>
    <h3 class='job-card-name'>
      {{name}}
    </h3>

    {{#if nextRunAtFromNow}}
    <div class='next-run-counter'>
      {{nextRunAtFromNow}}
    </div>
    {{/if}}

    <div class='meta'>

      {{#if repeatInterval}}
        <span class='meta-item'>
          &#10561; Repeats: {{repeatInterval}}
        </span>

        &middot;
      {{/if}}

      <span class='meta-item'>
        <span {{bind-attr class=':priority priorityHuman'}}>&#9187;</span> Priority: {{priorityHuman}}
      </span>
    </div>

  </div>

    {{#if failedAt}}
      <div class='fail-message bg-warning'>
        <span class='fail-icon'>&#9888;</span> {{failReason}} at {{time-tag failedAt}}
      </div>
    {{/if}}


  <div {{action 'toggleDataExpand'}} {{bind-attr class=':job-data-preview dataExpanded:is-expanded'}}>{{highlight-object data null 2}}</div>

<div class='times'>
{{time-tag lastRunAt prefix='Last:'}}
{{time-tag nextRunAt prefix='Next:'}}
{{time-tag lastFinishedAt prefix='Finished:'}}
{{time-tag lockedAt prefix='Locked:'}}
</div>
</div>

