<div class='job-card-content'>
  <h3 class='job-card-name'>
    {{name}}
    <a href='#' {{action 'toggleDetailsExpand' target='view'}} class='details-link'>Details</a>
  </h3>

  {{#if nextRunAtFromNow}}
  <div class='next-run-counter'>
    {{nextRunAtFromNow}}
  </div>
  {{/if}}

  <div {{bind-attr class=':job-details view.detailsExpanded:is-expanded'}}>
    <div class='details'>
      <div>
        <label>_id</label> {{id}}
      </div>
      <div>
        <label>lastFinishedAt</label>  {{lastFinishedAt}}
      </div>
      <div>
        <label>lastModifiedBy</label> {{lastModifiedBy}}
      </div>
      <div>
        <label>lastRunAt</label> {{lastRunAt}}
      </div>
      <div>
        <label>lockedAt</label> {{lockedAt}}
      </div>
      <div>
        <label>nextRunAt</label> {{nextRunAt}}
      </div>
      <div>
        <label>priority</label> {{priority}}
      </div>
      <div>
        <label>type</label> {{type}}
      </div>
    </div>

  </div>

  <div {{action 'toggleDataExpand' target='view'}} {{bind-attr class=':job-data-preview view.dataExpanded:is-expanded'}}>{{highlight-object data null 2}}</div>
</div>

{{#if isRepeating}}
<span class='repeat-icon'>
  &#10227;
</span>
{{/if}}
